<h2>Kurser</h2>

<!--input fält för att söka på kursnamn eller kod för att filtrera-->
<div class="inputs">
<div class="filter">
    <p>Filtrera kurser:</p>
    <input type="text" placeholder="Sök på kurskod eller kursnamn.." [(ngModel)]="filterCourse" (input)="useFilter()">
</div>

<!--dropdown för att filtrera på ämne för kurserna-->
<div class="select">
    <p>Välj ämne:</p>
    <select [(ngModel)]="filterSubject" (change)="useFilter()">
        <option value="">Alla ämnen</option>
        <option *ngFor="let subject of subjects()" [value]="subject">{{ subject }}</option>
    </select>
</div>
</div>

<div class="course-amount">
    <p>Antal kurser som visas: {{ amountOfCourses }}</p>
</div>

<!--tabell för att visa kurserna på courses sidan-->
<div class="table-container">
<table>
    <thead>
        <tr>
            <th (click)="sortCourse('courseCode')">Kurskod</th>
            <th (click)="sortCourse('courseName')">Kursnamn</th>
            <th (click)="sortCourse('points')">Poäng</th>
            <th (click)="sortCourse('subject')">Ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses()">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus" target="_blank">Visa Kursplan</a></td>
            <td><button (click)="addToList(course)">Lägg till</button></td>
        </tr>
    </tbody>
</table>
</div>

<!--för mobilenheter-->
<div clasS="mobile-container">
    <div class="mobile-card" *ngFor="let course of filteredCourses()">
        <p><strong>Kurskod: </strong> {{ course.courseCode }}</p>
        <p><strong>Kursnamn: </strong> {{ course.courseName }}</p>
        <p><strong>Poäng: </strong>  {{ course.points }}</p>
        <p><strong>Ämne: </strong>  {{ course.subject }}</p>
        <p><a [href]="course.syllabus" target="_blank">Visa Kursplan</a></p>
        <button (click)="addToList(course)">Lägg till</button>
    </div>
</div>

