<h2>Ramschema</h2>

<!--tabell för att visa kurserna på courses sidan-->
<div class="schedule-container">
<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
            <th>Ta bort</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of addedCourses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus" target="_blank">Visa kursplan</a></td>
            <td><button (click)="removeFromList(course.courseCode)">Ta bort</button></td>
        </tr>
    </tbody>
</table>
<p>Summering högskolepoäng: {{ summaryPoints }}</p>
</div>
